# Data Preprocessing Pipeline for Ride-Hailing Dataset

In [2]:
# Import Libraries
import pandas as pd
import numpy as np

In [3]:
# Load Dataset
df = pd.read_csv('renamed_actual_ridedata_sample.csv')
df.head()

,Business,Pickup Location,Dropoff Location,Trip Length,Request to Dropoff,Request to Pickup,Total Ride Time,On Scene to Pickup,On Scene to Dropoff,Time of Day,Date,Hour of Day,Week of Year,Month of Year,Passenger Fare,Driver Total Pay,Rideshare Profit,Hourly Rate,Dollars per Mile
0,Uber,91,62,4.29,1230.0,316.0,914.0,104.0,1018.0,morning,2022-01-23,8,3,1,18.41,13.62,4.79,48.165029,3.174825
1,Uber,177,49,2.84,1426.0,356.0,1070.0,113.0,1183.0,afternoon,2022-10-30,16,43,10,16.34,14.71,1.63,44.764159,5.179577
2,Uber,80,189,3.96,1433.0,556.0,877.0,7.0,884.0,night,2022-08-20,3,33,8,13.59,15.34,1.25,62.470588,3.873737
3,Uber,196,82,1.40,1227.0,423.0,804.0,31.0,835.0,evening,2023-07-13,17,28,7,14.58,9.75,4.83,42.035928,6.964286
4,Uber,165,178,0.89,548.0,155.0,393.0,34.0,427.0,night,2023-01-19,21,3,1,8.61,5.39,3.22,45.442623,6.056180

In [4]:
# Handle Missing Values
df.fillna(method='ffill', inplace=True)
df.fillna(method='bfill', inplace=True)

C:\Users\Induwara Jayasinghe\AppData\Local\Temp\ipykernel_7072\3785172249.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)
C:\Users\Induwara Jayasinghe\AppData\Local\Temp\ipykernel_7072\3785172249.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)

In [5]:
# Check for duplicate rows
duplicate_rows = df[df.duplicated()]
print(f"Number of duplicate rows: {len(duplicate_rows)}")

# Remove duplicates
df.drop_duplicates(inplace=True)

# Reset index after cleanup
df.reset_index(drop=True, inplace=True)

Number of duplicate rows: 0

In [6]:
# Filter only required columns for RL model
columns_to_keep = [
    'Pickup Location',
    'Request to Pickup',
    'Hour of Day',
    'Time of Day',
    'Month of Year',
]
df = df[[col for col in columns_to_keep if col in df.columns]]
df.to_csv('filtered_ridedata_sample.csv', index=False)
print('Filtered dataset saved as filtered_ridedata_sample.csv')

Filtered dataset saved as filtered_ridedata_sample.csv

In [7]:
# 💾 Step 6: Save Preprocessed Dataset
df.to_csv('preprocessed_ride_hailing_dataset.csv', index=False)
print('Preprocessed data saved.')

Preprocessed data saved.

In [8]:
df.head()

   Pickup Location  Request to Pickup  Hour of Day Time of Day  Month of Year
0               91              316.0            8     morning              1
1              177              356.0           16   afternoon             10
2               80              556.0            3       night              8
3              196              423.0           17     evening              7
4              165              155.0           21       night              1